/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url('../../lib/font/iosevka-type/iosevka-type.css');
@import url('../../lib/font/pt-sans-narrow/pt-sans-narrow.css');


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$headingFont: 'PT Sans Narrow', sans-serif;
$mainFont: 'PT Sans Narrow', sans-serif;

$mainColor: $base00;
$headingColor: $base01;
$headingFontWeight: bold;
$headingTextShadow: none;
$headingTextTransform: none;
$heading1Size: 2.4em;
$heading2Size: 2em;
$backgroundColor: $base3;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Ligatures are good
html {
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "dlig" 0;
}

// No way to specify code font as settings, so override it here
.reveal pre, .reveal code {
	font-family: "Iosevka", monospace;
	font-size: 0.9em;
}
.reveal pre {
	font-size: 0.8em;
}